:root {
  color-scheme: light dark;
  --light-bg: #ffffee;
  --dark-bg:  #000010;
  
  --light-fg: #000000;
  --dark-fg: #dddddd;
}
*{
  box-sizing: border-box;
}
html body{
  margin: 0px;
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-fg), var(--dark-fg));
}
button{
  padding: 0.5em;
  border-radius: 0.2em;
  border: solid #888 1px;
  background: light-dark(#ecd, #312);
  color: light-dark(#123, #cde);
}
button:active{
  background: light-dark(#fde, #423);
  outline: solid #798 1px;
}
.container{
  display: flex;
  margin-top: 2em;
  justify-content: space-around;
  align-items: stretch;
}
.main{
  max-width: 100vw;
  width: 40em;
}
.title{
  align-items: center;
  display: flex;
}
.heading{
  font-family: sans-serif;
  font-size: 150%;
  margin: 0.5em;
  padding: 0.5em;
  border-left: solid #824 5px;
}
.title>.heading{
  flex-grow: 1;
  border-bottom: solid #428 5px;
  border-left: none;
}
#accUL{
  list-style-type: none;
}
#accUL>li{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #878 1px;
}
#accUL>li:nth-child(even){
  background-color: light-dark(#ddd, #223);
}
.username{
  padding: 0.8em;
  min-width: 15em;
}
.detailsBtn{
  display: block;
}
.hidden{
  display: none;
}
.delBtn{
  display: block;
  height: 1.5em;
  width: 1.5em;
  background: center/contain no-repeat url("../images/del.svg");
  background-position: center;
}
.details{
  display: none;
}
.shown{
  display: block;
  width: 100%;
  padding: 0.8em;
}
.footer{
  margin-top: 5em;
  padding-top: 5em;
  font-size: 80%;
}
